@font-face {
  font-family: "aino bold";
  src: url("./fonts/aino-bold.woff2") format("woff2"),
    url("./fonts/aino-bold.woff") format("woff");
  font-weight: 500 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "aino headline";
  src: url("./fonts/aino-headline.woff2") format("woff2"),
    url("./fonts/aino-headline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "aino";
  src: url("./fonts/aino-regular.woff2") format("woff2"),
    url("./fonts/aino-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  background-color: "#262626";
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.main-footer {
  grid-area: footer;
}

  .footerClasses {
    background-color: #4a5568;
    font-size: 1.1rem;
    margin-top: 3rem;
    padding-top: 1rem;
  }
  .thankYou {
    font-size: 0.75rem;
    color: #a0aec0;
    text-align: center;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .inner {
    color: #cbd5e0;
    text-align: center;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
